data/stage_2_data/train.csv
data/stage_3_data/MNIST
data/stage_3_data/MNIST
data/stage_2_data/train.csv
data/stage_3_data/CIFAR
data/stage_2_data/train.csv
data/stage_3_data/MNIST
data/stage_3_data/CIFAR
.DS_Store
